html{
    min-height: 100vh;
}
body{
    background:linear-gradient(to right, rgb(0, 242, 96), rgb(5, 117, 230)) no-repeat;
    background-size: cover;
    height: 100%;
}
.grid-x{
    width: 100%;
    margin:0;
}
.name{
    font-family:"Lora" ;
}
i{
    font-size: 1.5em;
}
#isReadButton{
    margin: 0;
    width:18px;
    height:18px;
}
.readField{
    position: relative;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
}
.close-button{
    font-size: 2.4em;
}
.fa-gear{
    position: absolute; 
    right:25%; 
    font-size: 1.2em; 
    color:$dark-gray;
    transition: color .1s;
}
.fa-gear:hover{
    color: black;
}
.done{
    position:absolute;
    right:0;
    height:100%;
}
.edit-input{
    height:50%;
}
.move{
    padding-left:0 !important;
}
.form-grid{
    padding-top: 0.5rem;
}
.disabled{
    pointer-events:none;
}